{% extends '_base.html' %}

{% block content %}

<main role="main" class="main" id="app">

    <hero-component
        title="Your Household"
        description="Welcome to the Marketplace! Review your household below.">
    </hero-component>

    <overview-component
        v-bind:household="householdData">
    </overview-component>

    <p>
        <router-link to="/foo">Go to Foo</router-link> |
        <router-link to="/bar">Go to Bar</router-link>
    </p>

    <router-view></router-view>

</main>

{% endblock %}
