// Base Layout
// Ensure sticky footer

html {
    height: 100%;
}

body {
      min-height: 100%;
      display: flex;
      flex-direction: column;
}

.main {
    flex: 1;
}


// Header

.header {
    background-color: $secondary-color;
    padding-bottom: 1rem;
    padding-top: 1.25rem;
}


// Footer

.footer {
    background-color: $light-gray;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


// Logo

.logo {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1;
    padding: 0.25rem;

    @include breakpoint(medsmall) {
        font-size: 1.25rem;
    }
}

.logo:focus {
    outline: 1px dotted rgba(255, 255, 255, 0.5);
}

    .logo__icon {
        vertical-align: middle;
        margin-right: 0.25rem;
        position: relative;
        transform: translateY(-0.2rem);
    }

    .logo__type {
        color: $white;
    }


// Buttons

.button {
    border: 2px solid $primary-color;
    background-color: $primary-color;
    color: $white;
    padding:  0.5em 0.75em;
    font-weight: 700;
    transition: background-color $default-transition-speed, border-color $default-transition-speed;

    .icon {
        margin-left: 0.25rem;
    }

    &:hover {
        background-color: lighten($primary-color, 5%);
        border-color: lighten($primary-color, 5%);
    }
}

.button + .button {
    margin-left: 1rem;
}

.button--ghost {
    background-color: transparent;
    color: $primary-color;
    transition: opacity $default-transition-speed;
    opacity: 1;

    &:hover {
        opacity: 0.65;
        background-color: inherit;
        border-color: inherit;
    }
}

.button--hollow {
    background-color: transparent;
    border-color: $white;
    color: $white;
    transition: all $default-transition-speed;

    &:hover {
        border-color: $light-gray;
        color: $light-gray;
    }
}


// Typograhy

// Headings
.heading {
    font-family: $font-family-serif;
}

.heading--large {
    font-size: 1.875rem;
    font-weight: 700;

    @include breakpoint(medium) {
        font-size: 2.25rem;
    }

    @include breakpoint(large) {
        font-size: 2.5rem;
    }
}

.heading--small {
    // font-size: 1rem;

    // @include breakpoint(medium) {
        font-size: 1.125rem;
    // }

    @include breakpoint(large) {
        font-size: 1.25rem;
    }
}

small {
    font-size: 0.875rem;
}

// Hero
.hero {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #F1F8FF;
}

.section {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

// Forms
.form {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.form__section {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.form__label {
    @extend .heading--small;
    font-weight: 700;
    line-height: 1;
}

.input {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    box-shadow: none;

    @include breakpoint(large) {
        margin-top: 0;
    }
}


// Table
.table {
    margin-top: 2rem;
    margin-bottom: 2rem;

    thead {
        border: 0;
        background: none;
    }
    tbody {
        border: 0;
    }
    tbody tr:nth-child(even) {
        background: none;
    }

    tr {
        border-bottom: 1px solid #eee;
    }

    th, td {
        padding: 1rem 0.5rem;
    }

    .primary-cell {
        @include breakpoint(medium) {
            width: 50%;
        }
    }
}

// Vue Animations

.fade-enter-active {
    transition: opacity 500ms
}

.fade-enter {
    opacity: 0
}


// Errors
.input.is-invalid {
    border-color: $alert-color;
}

.error.is-invalid {
    color: $alert-color;
}
